# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Build directories
build/

# Generated config directories/files
ext/autom4te.cache/
ext/Makefile.global
ext/acinclude.m4
ext/aclocal.m4
ext/config.guess
ext/config.h.in
ext/config.sub
ext/configure
ext/configure.in
ext/install-sh
ext/ltmain.sh
ext/missing
ext/mkinstalldirs
ext/run-tests.php

# Swap files
*.swp
